@using System.Configuration;
@using Web.Energizer.User
@{
    var controller = ViewData["controller"] ?? Request.RequestContext.RouteData.Values["controller"].ToString();
    var action = ViewData["action"] ?? Request.RequestContext.RouteData.Values["action"].ToString();
    var full = controller + "_" + action;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/ui.tabs.css")"rel="stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Scripts/Vendor/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/ListenWind.css")" rel="stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Content/lanrenzhijia.css")" rel="stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Content/Vendor/jquery-ui/jquery.ui.all.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Vendor/jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/Vendor/mupSelect/jquery.multiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Vendor/tips/jquery.yitip.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~//Scripts/Vendor/Datepicker/kalendae.css")"rel="stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Content/morris.css")"rel="stylesheet" type="text/css"  />
    <link href="@Url.Content("~/Scripts/Vendor/fineuploader.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/Vendor/tiptps/tipTip.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Vendor/JqueryUploadify/uploadify.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/Vendor/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/bootstrap/js/bootstrap.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/tips/jquery.yitip.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.timeago.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/watermark/jquery.watermark.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/watermark/jquery.data.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/t2v-form.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/t2v-core.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/T2VBusiness/t2v-bussiness.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/T2VBusiness/t2v-main.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/FetureV7Grid.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.fineuploader-3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/tiptps/jquery.tipTip.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/JqueryUploadify/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/JqueryUploadify/jquery.uploadify.v2.1.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/JqueryRating/jRating.jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/sammy.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/flexslider/jquery.flexslider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/scrollPic.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/Datepicker/kalendae.standalone.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.cookie.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/pasteImg.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/ScreenShoot/html2canvas.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/angular/angular.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Vendor/angular/angular-sanitize.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/T2VBusiness/t2v_angular_base.js")" type="text/javascript"></script>
   
</head>
<body>

    <div class="wrap">
        <div class="header clear">
            <a href="#" class="logo">
                <img src="../../Content/images/logo.jpg" /></a>
            <div class="login-con">
                <div class="w-login" style="display: none">
                    <!--未登录-->
                    <a href="#">注册</a><a href="#">登录</a><a href="#">帮助</a>
                </div>
                <div class="y-login">
                    <!--登录-->
                    <a href="#">兜兜</a><a href="#" class="sign-out">退出</a>
                </div>
            </div>
            <div class="language">
                <div class="select-con sel-lg">
                    <select style="width:55px">
                        <option>CN</option>
                        <option>EN</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="banner"></div>
        @RenderBody()
    </div>
    <!--底部开始-->
    <div class="footer">
        <div class="footer-top">
            <div class="w980">
                <div class="ft-left">
                    <h2>
                        <img src="../../Content/images/tit1.png" /></h2>
                    <div class="search-box clear">
                        <div class="search-bg">
                            <input type="text" value="" />
                        </div>
                        <a href="#" class="btn-search">搜索</a>
                    </div>
                </div>
                <div class="ft-right">
                    <dl>
                        <dt>公司信息
                        </dt>
                        <dd>
                            <a href="#">关于我们</a>
                        </dd>
                        <dd>
                            <a href="#">联系我们</a>
                        </dd>
                        <dd>
                            <a href="#">博客</a>
                        </dd>
                        <dd>
                            <a href="#">新闻</a>
                        </dd>
                        <dd>
                            <a href="#">微博</a>
                        </dd>
                        <dd>
                            <a href="#">条款隐私</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>重点发现
                        </dt>
                        <dd>
                            <a href="#">精选听风营</a>
                        </dd>
                        <dd>
                            <a href="#">听风故事</a>
                        </dd>
                        <dd>
                            <a href="#">移动版</a>
                        </dd>
                        <dd>
                            <a href="#">网站地图</a>
                        </dd>
                        <dd>
                            <a href="#">建设你的听风营</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>听风问答
                        </dt>
                        <dd>
                            <a href="#">如何成为听风人</a>
                        </dd>
                        <dd>
                            <a href="#">如何成为听风营长</a>
                        </dd>
                        <dd>
                            <a href="#">听风能带给你什么</a>
                        </dd>
                        <dd>
                            <a href="#">听风安全</a>
                        </dd>
                        <dd>
                            <a href="#">听风流程说明</a>
                        </dd>
                        <dd>
                            <a href="#">听风档标准</a>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="w980 clear">
                <div class="ft-b-left">
                    Copyright by 
                </div>
                <div class="ft-b-right">
                    <a href="#">
                        <img src="../../Content/images/share-icon1.png" /></a><a href="#"><img src="../../Content/images/share-icon2.png" /></a><a href="#"><img src="../../Content/images/share-icon3.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <!--底部结束-->
    <script>
        $(function () {
            $("#datepicker1").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#slider-range").slider({
                orientation: "horizontal",
                step: 50,
                max: 10000,
                min: 0,
                range: true,
                values: [315, 4800],
                slide: function (event, ui) {
                    $("#amount").val("￥" + ui.values[0] + " - ￥" + ui.values[1]);
                }
            });
            $("#amount").val("￥" + $("#slider-range").slider("values", 0) +
                " - ￥" + $("#slider-range").slider("values", 1));

        })
    </script>
</body>
</html>
