@using System.Configuration;
@model WebModel.Account.LogOnModel
@{
    ViewBag.Title = "Log On";
}
<div class="modal-header clear">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 style="float: left; display: block">登录听风帐号</h3>
</div>
<div class="modal-body">
    <div>
        @Html.TextBoxFor(m => m.UserName, new { @class = "loginTBox watermark", @watermark = "请输入用户名", @title = "请输入用户名" })
        <br />
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.PasswordFor(m => m.Pwd, new { @class = "loginTBox watermark", @watermark = "请输入密码", @title = "请输入密码" })
        <br />
        @Html.ValidationMessageFor(m => m.Pwd)
    </div>
    <div style="color: #FF0000; font-weight: normal;">
        @Html.ValidationSummary(true, "")
    </div>
    <div>
        <input type="submit" value="登 录" class="SinInBtn" onclick="t2v_main.Login()" />
    </div>
</div>
<div class="modal-footer">
</div>
